/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, img, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(to right, #007BFF, #00C6FF);
    color: #fff;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

nav {
    text-align: center;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0.5rem 1rem;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.7);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

#categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    text-align: center;
}

#categories h2 {
    grid-column: span 3; /* Span all columns to center the title */
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.category {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.category h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.25rem;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background: linear-gradient(to right, #333, #555);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    #categories {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }

    .category {
        width: auto; /* Remove specific width to fit new grid layout */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        font-size: 0.9rem;
    }

    #categories {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}
